{% block content %}

<div class="login" style="text-align: center; margin-top: 50px;">

    <h1 style="font-size: 24px; color: #333;">Login</h1>

    <form method="POST" action="" style="margin-top: 20px;">
        {% csrf_token %}
        <table style="margin: 0 auto;">
            <tr>
                <td style="text-align: right;">Username: </td>
                <td><input type="text" name="username" placeholder="Username" class="form-control"></td>
            </tr>
                    
            <tr>
                <td style="text-align: right;">Password: </td>
                <td><input type="password" name="password" placeholder="Password" class="form-control"></td>
            </tr>

            <tr>
                <td></td>
                <td><input class="btn login_btn" type="submit" value="Login"></td>
            </tr>
        </table>
    </form>

    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}     
        
    <p style="margin-top: 20px;">Don't have an account yet? <a href="{% url 'main:register' %}" style="color: #007bff; text-decoration: none;">Register Now</a></p>

</div>

{% endblock content %}
