<!DOCTYPE html>
<html>
<head>
    <title>SayurBox Inventory Page</title>
</head>
<body style="font-family: Arial, sans-serif; text-align: center; background-color: #f5f5f5; padding: 20px;">

    <h1 style="color: #333;">SayurBox Inventory Page</h1>

    <div style="background-color: #fff; padding: 20px; border-radius: 10px; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);">
        <h5>Name: <span style="color: #007bff;">{{ name }}</span></h5>
        <p>Category: <strong>{{ category }}</strong></p>
        <p>Price: <span style="color: #e83e8c;">Rp {{ price }}</span></p>
        <p>Amount: {{ amount }} pcs</p>
        <p>Description: {{ description }}</p>

        <img src="{{ image }}" alt="Mangga Harum Manis" style="max-width: 100%; border: 1px solid #ddd; border-radius: 5px; margin-top: 10px;">

    </div>

</body>
</html>
